# Database
DATABASE_URL="postgresql://user:password@localhost:5432/santri_permit?schema=public"

# App
PORT=3001
NODE_ENV=development

# Auth
JWT_SECRET="change-me-super-secret-jwt-key-min-32-chars"
JWT_EXPIRES_IN="7d"

# CORS
WEB_URL="http://localhost:3000"
